# environment setup
## available option:
## 1. development
## 2. production
APP_NAME=NoMoney
APP_ENV=development
APP_VERSION=v0.1.0

# server setup
SERVER_ADDR=127.0.0.1
SERVER_PORT=8083
SERVER_DEFAULT_TIMEOUT=30